.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background: #1976d2;
}

a {
  text-decoration: none;
  color: snow;
}

.active {
  color: red;
}
